body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

/*######################################  NAV BAR  ######################################################################*/

.topnav {
    background-color: rgb(244, 244, 244);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 1px 39px 0px rgba(184,184,184,1);
  }

  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: rgb(237, 112, 125);
    color: white;
    border-radius: 7px;
  }

  .logout {
    margin-right: 20px;
    border-radius: 7px;
    background-color: rgb(237, 112, 125);
  }

  /*######################################  LOGIN  ######################################################################*/

.loginheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 9.5%;
  background-color: #DA5A57;
  color: white;
  text-align: center;
  font-size: 24px;
}

.imgcontainer {
  text-align: center;
  margin: 10px;
  margin-top: 10px;
}

img.avatar {
  width: 58%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 0px 0;
  display: inline-block;
  box-sizing: border-box;
}

.container {
  background-color: white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  width: 30%;
  box-shadow: 5px 10px 18px #888888;
}

.container p{
text-decoration: none;
font-size: 14px;
line-height: 20px;
color: black;

}

.container a{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color: darkgrey;

}

.cssfooter {
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(184, 170, 172, 0.584);
    color: white;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
  }

.websitefooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 245, 245);
  color: gray;
  text-align: center;
  padding: 10px;
  display: flex;
	flex-flow: row wrap;
  justify-content: center;
}

/*######################################  FRONTEND BACKEND IMAGE  ######################################################################*/

.mid {
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.mid img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*######################################  NEWS  ######################################################################*/

.news {
  background-color: white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  padding: 20px;
  width: 60%;
  box-shadow: 5px 10px 18px #888888;
}
