{% extends "base.html" %}

{% block content %}
    <main>
        <form class="container" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="imgcontainer">
                <img src="{{ url_for('static', filename='images/key.png') }}" alt="Avatar" class="avatar">

            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style='color: red;'>[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <a href="/signup"> Don't have an account?</a><br>
            <a href="https://imgflip.com/i/" target="_blank">Feeling brave again?</a>
            </div>
        </form>

        <div class="loginheader">
            <p>Login to our Website</p>
        </div>

        <div class="websitefooter">
            <p>Privacy Policy</p>
        </div>

    </main>
{% endblock %}
